.line{
    border-left: 3px dotted black;
    height: 1500px;
}

:root {
    --dark-gray-color: #505050;
    --ligth-gray-color: #777777;
    --pink-color: #ffd6d2;
  }
  .texty{
      text-align: center;
      margin-left: 30px; 
      margin-right: 30px;
      font-size: 20px
  }
.line-1{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header {
    background-color: #FF69B4;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .nav-link {
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 200;
    line-height: 25px;
    color: #fff; 
  }
.pinky{
    border-bottom: 5px solid #FF69B4;
    width: 150px; 
}
  .frame{
    color: #fceb36;
    background-color: #FF69B4;
    width: 500px;
    text-align: center;
  }
  .wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .wrap-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:20px;
  }
  .round{
    margin-left: 70px;    
  }
  .round-1{
    margin-left: 85px;    
  }
  .round-2{
    margin-left: 105px;    
  }
  .round-3{
    margin-left: 120px;    
  }
  .round-4{
    margin-left: 115px;    
  }
  .interest{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-left: 20px;
    
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Dancing Script', cursive ;
    box-sizing: border-box;
    background-color: #ffd6d2;
  }
  
  .container-centered {
    margin: 20px auto;
    width: 1024px;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
  }
  
  .two-columns {
    display: flex;
  }
  .name{ 
      text-align: center;
      color: #FF69B4;
  }
  .val{
      color: #FF69B4;
      font-size: 50px;
      font-family: 'Permanent Marker', cursive;
  }
  .left-column {
    width: 42%;
    color: var(--dark-gray-color);
  }
  
  .right-column {
    width: 58%;
    padding: 40px;
  }
  
  header {
    padding: 30px;
    text-align: center;
    background-color: #ffffff;
  }
  
  header img {
    margin-bottom: 10px;
    border: 11px solid var(--pink-color);
    border-radius: 50%;
  }
  
  header h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  
  header h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
  }

  .lang-name {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .starss{
    height: 60px;
    margin-left: 70px;

}
  .star{
      height: 60px;
      margin-left: 90px;

  }
  .stars{
    height: 47px;
    margin-left: 90px;
  }

  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: var(--dark-gray-color);
  }
  
  footer a {
    text-decoration: none;
    color: #ffffff;
  }
  
  footer .github-icon {
    margin-right: 10px;
  }
  
  .my-github {
    display: flex;
    align-items: center;
  }